<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mados">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mdo"
        android:label="MADO"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mados"
        android:usesCleartextTraffic="true">
        <activity android:name=".Uploadimage"></activity>
        <activity android:name=".VerifyOTP" />
        <activity android:name=".Verifyfiles" />
        <activity android:name=".AndroidBarcodeQrExample" />
        <activity android:name=".ViewImage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Employee_addfeedback" />
        <activity android:name=".Employee_home" />
        <activity android:name=".Employee_upload_files" />
        <activity android:name=".Employee_view_files" />
        <activity android:name=".Employee_view_uploaded_files" />
        <activity android:name=".Employeeeditprofile" />
        <activity android:name=".ip_setting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
    </application>

</manifest>